// paths
$urlIcon: '/user/documents/mime/src/icon/';
$urlImg: '/user/documents/mime/src/img/';

$ff-base: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$fs-base: 16px; // base for 1rem

// font-size
$fs-title: clamp(3rem, 6vw, 8rem);
$fs-h1: clamp(2rem, 5vw, 5rem);
$fs-h2: clamp(1.2rem, 2vw, 2rem);
$fs-p: clamp(1rem, 1vw, 1.2rem);

// font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-xbold: 900;

// line-height
$lh-title: clamp(3.2rem, 6.2vw, 8.2rem);
$lh-h1: clamp(2.2rem, 5.2vw, 5.2rem);
$lh-h2: clamp(1.4rem, 2.2vw, 2.2rem);
$lh-p: clamp(1.2rem, 1.2vw, 1.7rem);

// colors
$c-black: #000;
$c-white: #fff;

$c-blue-200: #9addf2;
$c-blue-400: #2b4d5b;

$c-red-400: #d9534f;

$c-green-400: #5cb85c;

$c-gray-200: #ccc;
$c-gray-900: #222;

$c-text: $c-gray-900;
$c-primary: $c-blue-400;
$c-secondary: $c-gray-900;
$c-error: $c-red-400;
$c-success: $c-green-400;
$c-info: $c-blue-200;

// border
$border: 2px solid $c-gray-900;
$border-light: 1px solid $c-gray-200;
$br: 5px;

// gaps
$gap: 15px;

// breakpoints
$breakpoint-xs: 425px; // mobile devices
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px; // desktop
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// grid
$container: 1500px;

// animations
$trans: all 0.3s ease;
