.products {
	.product {
		margin-bottom: $gap;
	}

	.p {
		.image {
			display: none;
		}

		.name {
			@include h2;
		}

		.p-in {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.p-tools {
			display: none;
		}

		.price-standard-wrapper {
			display: none;
		}

		.price-final {
			@include h2;

			font-weight: $fw-bold;
			white-space: nowrap;
		}
	}
}
